@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 40%;
    margin-left: 10%;
    text-align: left;
}

.logo h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #f9faf8;
}

.menu {
    margin-right: 10%;
    flex: 40%;
    text-align: right;
    padding: 20px;    
}

.menu a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    padding: 10px 5px;
}

.menu a:hover {
    background-color: white;
    color: black
}

.header {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color:#1f2937;
}

.headline {
    margin-left: 10%;
    flex: 40%;
}

.headline h2 {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    text-align: left;
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 7px;
    background-color: #3882F6;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.button:hover{
    background-color: white;
    color: black;
}