@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 20%;
    border: 1px solid red;
    text-align: center;
}

.logo h1{
    font-family: 'Kaushan Script', cursive;
}

.menu {
    flex: 80%;
    border: 1px solid green;
    text-align: right;
    padding: 20px;
    font-size: 18px;
    color: #e5e7eb;
}